body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height:4rem;
    background-color: azure;
}
.add-btn{
    background-color: #fe424f !important;
    border: none !important;
}
.fa-compass{
    color: #fe424f;
    font-size: 2rem;
}
.nav-link{
    color:black !important;
    font-weight: 400 !important;
}
.f-info-links a{
    text-decoration: none;
    color:black;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: space-evenly;
}
.f-info-links{
    width: 100%;
}
.f-info-social{
    width:100%;
    font-size: 1.3rem;
}

.list-card{
    border: none !important;
    margin-bottom: 2rem !important;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0% !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}